<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/wmedia/css/main.css" media="screen">
		<title> {% block title %} {% endblock %} </title>
	</head>
	<body>
		<div id="header">
			<img src="/wmedia/img/treble.png" width="77" height="94"/>
		</div>

		<div id="main">
			<ul id="nav">
				<li> <a href="/">Home</a></li>
				<li> <a href="/about">About</a></li>
				<li> <a href="/pictures">Pictures</a></li>
				<li> <a href="/blog">Blog</a></li>
				<li> <a href="/maps">Maps</a></li>
				<li> <a href="/rsvp">RSVP</a></li>
				<li> <a href="/registrations">Registration Locations</a></li>
				<li> <a href="/contact">Contact Us</a></li>
			</ul>
			<div id="content">
				<h1>{% block header %} Wedding {% endblock %}</h1>
				{% block content %} {% endblock %}
			</div>
		</div>

		<div id="footer">
			{% block footer %} Created by Luke Lee {% endblock %}
		</div>

	</body>
</html>
