<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/wmedia/css/main.css" media="screen">
		<title> {% block title %} {% endblock %} </title>
        {% block js %} {% endblock %}
	</head>
	{% block body %} <body> {% endblock %}
		<div id="header">
			<img src="/wmedia/img/treble.png" width="77" height="94" alt="treble_clef">
			<h1>Luke and Natalie</h1>
            <!--{% load countdown %}
			<span class='date'>October 17, 2009<br><br>{% countdown %}</span>-->
		</div>

		<div id="main">
			<div id="left">
				<ul id="nav">
                    <li class="{% ifequal active "home" %}active{% else %}inactive{% endifequal %}">
                        <a href="/">Home</a>
                    </li>
                    <li class="{% ifequal active "story" %}active{% else %}inactive{% endifequal %}">
                        <a href="/story">Our Story</a>
                    </li>
                    <li class="{% ifequal active "pics" %}active{% else %}inactive{% endifequal %}">
                        <a href="/pictures">Pictures</a>
                    </li>
                    <li class="{% ifequal active "blog" %}active{% else %}inactive{% endifequal %}">
                        <a href="/blog">Blog</a>
                    </li>
                    <li class="{% ifequal active "maps" %}active{% else %}inactive{% endifequal %}">
                        <a href="/maps">Maps</a>
                    </li>
                    <li class="{% ifequal active "gifts" %}active{% else %}inactive{% endifequal %}">
                        <a href="/gifts">Gift Registry</a>
                    </li>
                    <li class="{% ifequal active "contact" %}active{% else %}inactive{% endifequal %}">
                        <a href="/contact">Contact Us</a>
                    </li>
				</ul>
			</div>
			<div id="content">
				<h2>{% block header %} Wedding {% endblock %}</h2>
				{% block content %} {% endblock %}
			</div>
		</div>

		<div id="footer">
			{% block footer %}
                <p>Created by <a href="http://www.lukelee.net">Luke Lee</a></p>
                <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fnatalieandluke.com%2F">
                    <img style="border:0;width:88px;height:31px"
                        src="http://www.w3.org/Icons/valid-html401-blue" alt="Valid HTML 4.01 Strict"></a>

                <a href="http://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px"
                        src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!">
                </a>

            {% endblock %}
		</div>

	</body>
</html>
