<style type="text/css">
	body {
		font-size: 12pt;
		font-family: Arial, Verdana, Helvetia, sans-serif;
	}
	#header {
		background-color: #714000;
		text-align: left;
		padding: 5px;
		color: #ffb661;
	}
	#header a, #header a:link, #header a:visited, #header a:active {
		color: #ffffff;
	}

	#nav {
		text-align: left;
	}
	#nav li {
		display: inline;
	}
	#content {
		width: 900px;
		text-align: left;
		margin: 20px auto 20px auto;
	}
	#rsvp fieldset {
		text-align: left;
	}
	#rsvp label {
		margin: 10px;
	}
	#rsvp select {
		width: 100px;
	}
	#footer {
		background-color: #714000;
		text-align: left;
		font-size: 10pt;
		padding: 5px;
		color: #ffffff;
	}
</style>
