<style type="text/css">
	body {
		font-size: 12pt;
		font-family: Arial, Verdana, Helvetia, sans-serif;
	}
	#header {
		background-color: #eee;
		text-align: left;
		padding: 5px;
	}
	#nav {
		text-align: left;
	}
	#nav li {
		display: inline;
	}
	#content {
		width: 900px;
		text-align: center;
		margin: 20px auto 20px auto;
	}
	#rsvp fieldset {
		text-align: left;
	}
	#rsvp label {
		margin: 10px;
	}
	#rsvp select {
		width: 100px;
	}
	#footer {
		background-color: #eee;
		text-align: left;
		font-size: 10pt;
		padding: 5px;
	}
</style>
