{% extends "base.html" %}

{% block title %} Maps {% endblock %}
{% block header %} Event Locations {% endblock %}
{% block body %} <body onload="initialize()" onunload="GUnload()">{% endblock %}

{% block js %}
    <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAWduJz0JhIkngc7p_Jib3CRQmAaByKjOBzkS9I2dI7r5Fk55n1hSl7jjOtvphk6AUAzykhQqRsQSKvw&sensor=false"
                    type="text/javascript">
    </script>
    <script type="text/javascript">
        function Location(name, link, addr) {
            this.name = name;
            this.link = link;
            this.addr = addr;
        }
        function initialize() {
            var mac = new Location('Mexican American Cultural Center',
                                   'http://www.ci.austin.tx.us/macc/',
                                   '600 River Street, Austin, TX 78701, USA');
            var garden = new Location('Zilker Botanical Gardens',
                                      'http://www.zilkergarden.org/',
                                      '2220 Barton Springs Road, Austin, TX 78746, USA');
            var locations = new Array(mac, garden);

            if (GBrowserIsCompatible()) {
                var map = new GMap2(document.getElementById("map"));
                for (loc in locations) {
                    marker = add_location(map, loc, locations[loc]);
                }
                map.setUIToDefault();
            }
        }
        function add_location(map, center, loc) {
            var geocoder = new GClientGeocoder();
            var marker;
            geocoder.getLatLng(loc.addr,
                function(point) {
                    if (point) {
                        if (center)
                            map.setCenter(point, 13);
                        marker = new GMarker(point);
                        var link = '<a href="' + loc.link + '>' + loc.name + '<a>';
                        var html = '<span class="map_txt">' + link + '<br>' +
                                                              loc.addr + '</span>';
                        GEvent.addListener(marker, "click", function() {
                            map.openInfoWindowHtml(point, html); });
                        map.addOverlay(marker);
                    }
                });
           return marker;
       }
    </script>
{% endblock %}

{% block content %}
    <ul id="addresses">
        <li>Wedding ceremony (weather permitting):</li>
        <li class="none">
            <ul>
                <li><a href="http://www.zilkergarden.org/">Zilker Botanical Gardens</a></li>
                <li>2220 Barton Springs Road</li>
                <li>Austin, TX  78746</li>
            </ul>
        </li>
        <li>Reception:</li>
        <li class="none">
            <ul>
                <li><a href="http://www.ci.austin.tx.us/macc/">Mexican American Cultural Center</a></li>
                <li>600 River Street</li>
                <li>Austin, 78701</li>
            </ul>
        </li>
    </ul>
<div id="map">Map</div>
{% endblock %}
