{% extends "base.html" %}

{% block title %} RSVP {% endblock %}
{% block header %} RSVP {% endblock %}

{% block content %}

{% ifequal status -1 %}
	<p class="error">Please enter your name and the number of guests.</p>
{% endifequal %}

{% ifequal status 1 %}
	<p class="success">Thanks, {{first_name}} {{last_name}} for your RSVP.</br>
		We will be expecting all {{guests}} of you!
	</p>
{% endifequal %}

    <p>
        Please fill out the following form to let us know you are planning on
        attending our wedding on October 17, 2009. Also, be sure to include
        yourself in the guests field.
    </p>

    <p>
        Please also give us your e-mail address so you can receive updates
        about the wedding and more plans as they become available (spam free!).
        You will also receive an e-mail confirmation of your rsvp so you don't forget!
    </p>

	<form action="/rsvp/" id="rsvp" method="post">
		<fieldset>
			<p>
				<label for="id_first_name">First name:*</label>
                {{ form.first_name }}
			</p>
			<p>
				<label for="id_last_name">Last name:*</label>
                {{ form.last_name }}
			</p>
			<p>
				<label for="id_email">E-mail:</label>
                {{ form.email }}
			</p>
			<p>
				<label for="id_guests">Guests*:</label>
				<select id="id_guests" name="guests">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</p>
			<input class='button' type="submit" value="submit"/>
			<br><p>* is a required field</p>
		</fieldset>
	</form>
{% endblock %}
