{% extends "base.html" %}

{% block title %} RSVP {% endblock %}

{% block content %}

{% ifequal status -1 %}
	<p class="error">Please enter your name and the number of guests.</p>
{% endifequal %}

{% ifequal status 1 %}
	<p class="success">Thanks, {{first_name}} {{last_name}} for your RSVP.</br>
		We will be expecting all {{guests}} of you!
	</p>
{% endifequal %}

	<form action="/rsvp/" id="rsvp" method="post">
		<fieldset>
			<legend>Who's Coming</legend>
			<p>
				<label for="first">First name:*</label>
				<input type="text" id="first" name="first"/>
			</p>
			<p>
				<label for="last">Last name:*</label>
				<input type="text" id="last" name="last"/>
			</p>
			<p>
				<label for="guests">Guests (including you)*:</label>
				<select id="guests" name="guests">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</p>
			<input type="submit" value="submit" />
			<p>* Requried input</p>
		</fieldset>
	</form>
{% endblock %}
